<article>
  <h2><%= post.title %></h2>
  <% if (everyauth.loggedIn) { %>
    <small>
      <%- router.link('edit-post', 'edit', post) %>
    </small>
  <% } %>
  <p><em>Date:</em> <%= post.date %></p>
  <%- post.content %>
  <p><em>Tags:</em> <%= post.tags.join(', ') %></p>
</article>
