<article>
  <h2>
    <%= post.title %>
    <small>
      <%= moment(post.date).fromNow() %>
    </small>
    <% if (everyauth.loggedIn) { %>
      <span>
        <%- router.link('edit-post', 'edit', post) %>
      </span>
    <% } %>
  </h2>
  <div class="post-content">
    <%- post.content %>
  </div>

  <div class="post-details">
    <p><strong>Date:</strong> <%= post.date %></p>
    <p><strong>Tags:</strong> <%= post.tags.join(', ') %></p>
  </div>
</article>
